{% if model.thumb(thumb_type).getDefault() %}
    <div class="js-item" data-id="{{ model.id }}">
        <div class="gallery-item gallery-item--full">
            {#<a href="#" class="gallery-item__control gallery-item__control--edit"><i class="fa fa-pencil"></i></a>#}
            {% if model.thumb(thumb_type).getUrl() %}
                <a href="#" class="gallery-item__control gallery-item__control--remove js-crud-thumb-delete" data-type="{{ thumb_type }}">Удалить миниатюры</a>
                <a href="#" class="gallery-item__crop js-crud-thumb-crop"><img
                            class="img-responsive js-thumb"
                            data-thumb-key="{{ model.thumbKey(thumb_type) }}"
                            src="{{ model.thumb(thumb_type).getDefault() }}?{{ random() }}"
                                                                               alt=""/></a>
            {% else %}
                <img
                        class="img-responsive"
                        src="{{ model.thumb(thumb_type).getDefault() }}?{{ random() }}"
                        alt=""/>
            {% endif %}
            {#<a href="#" class="gallery-item__control gallery-item__control--remove js-crud-thumb-delete"><i class="fa fa-times"></i></a>#}
            {#<img src="{{ model.thumb(thumb_type).getDefault() }}?{{ random() }}" alt=""/>#}
            <div class="gallery-item__name">
                {% for size in model.thumb(thumb_type).toArray() %}
                    <strong>{{ size.name }}</strong>: {{ size.w }}x{{ size.h }}
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}