<h3>{{ model }}</h3>
{% for row in relations|batch(2) %}
    <div class="row">
        {% for rel_name, rel in row %}
            <div class="col-lg-6">
                <div class="box box-info box-solid">
                    <div class="box-header">
                        <h3 class="box-title">{{ rel.shotDesc }}</h3>
                        <div class="box-tools pull-right">
                            <button title="Связать"
                                    class="btn btn-box-tool js-crud-rel-select"
                                    data-relation="{{ rel_name }}"
                                    data-url="{{ url_base }}/{{ model.id }}/rel-select"
                            ><i class="fa fa-link"></i> Изменить привязки</button>
                        </div>
                    </div>
                    <div class="box-body box-body--scroll">
                        <table class="table table-striped">
                            <tbody
                                    class="js-belongs-to-many"
                                    data-model="{{ model.getModelKey() }}"
                                    data-id="{{ model.id }}"
                                    data-relation="{{ rel_name }}"
                            >
                            {% include 'larakit::!.crud.lists.rel_belongs_to_many' %}
                            </tbody>
                        </table>

                    </div>
                    {% if rel.longDesc %}
                        <div class="box-footer text-info">
                            <i class="fa fa-hand-o-right"></i>
                            {{ rel.longDesc|nl2br }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
