<form class="angular-form" action="{{ url }}">
    <div class="row" ng-controller="Ctrl">
        <div class="col-lg-6">
            <div class="box box-info box-solid">
                <div class="box-header">
                    <h3 class="box-title">{{ method.shortDesc }}</h3>
                </div>

                <div class="input-group pb20">
                <span class="input-group-addon">
                    <i class="fa fa-filter"></i>
                </span>
                    <input type="text" placeholder="Фильтр списка" class="form-control" ng-model="filter.toString"/>
                    <span class="input-group-addon pointer" ng-click="filter.toString=''">
                    <i class="js-laraform-clean pointer fa fa-eraser"></i>
                </span>
                </div>
                <div class="box-body box-body--scroll">

                    {% raw %}
                        <table class="table table-striped table-hyperhover">
                            <tbody>
                            <tr class="js-item pointer" ng-repeat="row in getAllWithoutSelected()|filter:filter:strict|orderBy:'toString'"
                                ng-click="selectRow(row.id)">
                                <td>
                                    {{ row.toString }}
                                </td>
                                <td style="width: 40px"><i
                                            data-rel="{{ relation }}"
                                            data-rel-id="{{ model.id }}"
                                            class="pointer fa fa-arrow-right"
                                    ></i></td>
                            </tr>
                            </tbody>
                        </table>
                    {% endraw %}
                </div>
                <div class="box-footer">
                    {{ method.longDesc }}
                </div>
            </div>

        </div>
        {% raw %}
            <div class="col-lg-6">
                <div class="box box-info box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Выбранные элементы</h3>
                    </div>
                    <div class="input-group pb20">
                        <span class="input-group-addon">
                            <i class="fa fa-filter"></i>
                        </span>
                        <input type="text" placeholder="Фильтр списка" class="form-control" ng-model="selectedFilter.toString"/>
                        <span class="input-group-addon pointer" ng-click="selectedFilter.toString=''">
                        <i class="js-laraform-clean pointer fa fa-eraser"></i>
                    </span>
                    </div>
                    <div class="box-body box-body--scroll">
                        <table class="table table-striped">
                            <tbody>
                            <tr class="js-item" ng-repeat="row in getSelected()|filter:selectedFilter:strict|orderBy:'toString'">
                                <td>
                                    {{ row.toString }}
                                </td>
                                <td style="width: 40px"><i
                                            class="js-crud-belongs-to-many-delete pointer fa fa-times"
                                            ng-click="unSelectRow(row.id)"
                                            title="Убрать из выбранных"></i></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer" ng-if="data.max">
                        Максимальное количество {{ data.max }} элемента
                    </div>
                </div>

            </div>
        {% endraw %}

    </div>

</form>