{% for size, thumb in thumbs %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                <span class="pointer">{{ thumb.name }}</span>
            </h3>
            <div class="box-tools ">
                {% if thumb.w %}
                    <span class="label label-default">
                        Ширина: {{ thumb.w }}px
                    </span>
                {% endif %}
                {% if thumb.h %}
                    &nbsp;
                    <span class="label label-default">
                        Высота: {{ thumb.h }}px
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="box-body text-center">
            {% set h = thumb.h ? thumb.h : 150 %}
            {% set w = thumb.w ? thumb.w : 100 %}
            {% set url = thumb.url ? thumb.url : 'http://placehold.it/'~w~'x'~h %}
            <div class="gallery-item gallery-item--full" style="max-width: {{ thumb.w }}px;">
                <a class="gallery-item__crop js-crud-thumb-crop-size" href="#"
                   data-type="{{ type }}"
                   data-size="{{ size }}"
                   data-url-base="{{ url_base }}"
                   data-id="{{ id }}"
                   data-item-id="{{ item_id }}"
                ><img alt="" src="{{ url }}?{{ random() }}" class="img-responsive js-thumb" data-thumb-key="{{ thumb.key }}"></a>
            </div>
        </div>
    </div>
{% endfor %}