<div class="box box-success box-solid js-cropper">
    <div class="box-header with-border">
        <h3 class="box-title">Выделяем нужный фрагмент</h3>
        <div class="box-tools btn-group">
            {% for i in range(0,7) %}
                {% set deg = i*45 %}
                <button data-option="{{ deg }}" class="js-cropper-rotate btn btn-sm btn-default" type="button">{{ deg }}&deg;</button>
            {% endfor %}
        </div>
    </div>
    <div class="box-body">
        <div class="js-cropper-source">
            <img
                    {% if ratio %}data-ratio="{{ ratio }}"{% endif %}
                    src="{{ img }}?{{ random() }}" class="img-rounded pointer img-responsive js-crop-img">
        </div>
    </div>
</div>
<div class="box box-success box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Смотрим результат</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="js-cropper-preview thumb-preview" data-width="{{ config_w }}"
                     {% if ratio %}data-ratio="{{ ratio }}"{% endif %}
                ></div>
            </div>
        </div>
    </div>
</div>