{% for rel_model in model.getAttribute(rel_name) %}
    {#{{ crud_row(rel_model, 'belongs-to-many', {id:model.id, relation:rel_name})|raw }}#}
    <tr class="js-item"
        data-id="{{ model.id }}">
        <td style="width: 10px">#{{ rel_model.id }}</td>
        <td>
            {{ rel_model }}
        </td>
        {#<td style="width: 40px"><i#}
                    {#data-rel="{{ rel_name }}"#}
                    {#data-rel-id="{{ rel_model.id }}"#}
                    {#class="js-crud-belongs-to-many-delete pointer fa fa-times"#}
                    {#title="Удалить связь"></i></td>#}
    </tr>

{% endfor %}
