<div class="col-lg-4">
    <div class="box box-primary box-solid1">
        <div class="box-header with-border">
            <h3 class="box-title">
                {{ name }}
            </h3>
            <div class="box-tools pull-right">
                <div class="btn btn-sm btn-default fileinput-button btn-bl1ock">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Выберите файл...</span>
                    <input
                            class="js-fileupload"
                            data-url="{{ url_upload }}"
                            {#data-progress="#progress"#}
                            data-key="{{ model.getModelKey() }}"
                            data-callback-done="LarakitUpload.thumb"
                            data-form-data='{"type": "{{ type }}"}'
                            type="file"
                            name="file">
                </div>
            </div>

        </div>
        <div class="box-body">
            <div
                    data-url-base="{{ url_base }}"
                    data-type="{{ type }}"
                    data-key="{{ model.getModelKey() }}"
                    data-filter="thumb_{{ type }}_{{ model.id }}"
                    data-row-type="thumb_{{ type }}"
                    class="js-list"
            >
                {{ crud_row(model, 'thumb', {thumb_type:type})|raw }}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>