{% extends 'lk-adminlte::!.layouts.default' %}

{% block content %}
    <div class="row">
        {% for name,row in rows %}
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <a href="/admincp/generator/{{ base64_encode(name) }}">{{ name }}</a>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>URL</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for k,v in row %}
                                    <tr>
                                        <td>{{ k }}</td>
                                        <td>{{ v }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}