<tr class="js-item" data-id="{{ model.id }}">
    <td class="col-lg-1">
        <a target="_blank" href="{{ model.downloadUrl() }}"><span class="label label-default"><i title="{{ helper_text('fileSize', model.size) }}"
                                                                                             class="fa fa-download"></i> {{ model.ext|upper }}</span></a>
    </td>
    <td class="col-lg-9">
        {{ model.name }}
    </td>
    <td class="col-lg-1 text-right">
        {{ helper_text('fileSize', model.size) }}
    </td>
    <td class="col-lg-1 text-right">
        <div class="btn-group">
            <button class="btn btn-sm js-crud-attach-edit"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-sm  js-crud-attach-delete"><i class="fa text-danger pointer fa-remove"></i></button>
        </div>
    </td>
</tr>
