<div class="js-item gallery-item" data-id="{{ model.id }}" data-imageable-id="{{ model.imageable_id }}">
    <a href="#" class="gallery-item__control gallery-item__control--edit js-crud-thumb-crop"
       title="Подрезать"
    ><i class="fa fa-crop"></i></a>
    <a href="#" class="gallery-item__crop gallery-item__crop--check js-wysiwyg-insert"

       data-content="<img src='{{ model.getUrl('lg') }}?{{ random() }}' data-thumb-key='{{ model.thumbKey(type, model.id) }}'/>"
       data-id="{{ textarea_id }}">
        <img
                class="img-responsive js-thumb"
                data-thumb-key="{{ model.thumbKey(type, model.id) }}"
                src="{{ model.getUrl('_') }}?{{ random() }}"
                alt=""/>
    </a>
    <a href="#"
       class="gallery-item__control gallery-item__control--remove js-crud-thumb-delete"><i class="fa fa-times"></i></a>
    {#<img src="{{ model.thumb(type).getDefault() }}?{{ random() }}" alt=""/>#}
    <div class="gallery-item__name">
        {{ model.name }}
    </div>
</div>