<div class="box box-primary box-solid1">
    <div class="box-header with-border">
        <h3 class="box-title">
            {{ name }}
        </h3>
        <div class="box-tools pull-right btn-group">
            <div class="btn btn-sm btn-default fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Выберите файлы для загрузки...</span>
                <input
                        class="js-fileupload"
                        data-url="{{ url_upload }}?textarea_id={{ textarea_id }}"
                        data-key="{{ key }}"
                        data-callback-done="LarakitUpload.thumbs"
                        data-form-data='{"type": "{{ type }}"}'
                        type="file"
                        name="file"
                        multiple>
            </div>
            <div class="btn btn-sm btn-danger js-crud-thumbs-delete-all"
                 data-key="{{ key }}">
                <i class="fa fa-times"></i> Удалить все
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="js-list"
             data-url-base="{{ url_base }}"
             data-key="{{ key }}"
             data-type="{{ type }}"
             data-row-type="thumbs_wysiwyg"
        >
            {% for model in thumbs %}
                {% include 'larakit::!.crud_row.thumbs_row_wysiwyg' %}
            {% endfor %}
        </div>
    </div>
</div>
<br>
<br>
<br>